<?xml version="1.0"?>
<launch>
    <!-- <arg name="video" default="/home/ros/workspace/samples/GP032489.MP4" doc="path to the video file"/> -->
    <!-- <arg name="path" default="/home/ros/workspace/samples/GOPR9948.MP4" doc="path to the video file"/> -->

    <!-- <arg name="path" default="/home/ros/workspace/data/calib_camera_imu/calib3/GOPR9964.MP4" doc="path to the video file"/> -->
    <!-- <arg name="path" default="/home/ros/workspace/data/gopro7/GH012494.MP4" doc="path to the video file"/> -->
    <!-- <arg name="path_list" default="[]" doc="path to the video file"/> -->

    
    <arg name="path" default="" doc="path to the video file"/>
    <arg name="path_list" default="[/home/ros/workspace/data/imu/GP019954.MP4, /home/ros/workspace/data/imu/GP029954.MP4, /home/ros/workspace/data/imu/GP039954.MP4, /home/ros/workspace/data/imu/GP049954.MP4, /home/ros/workspace/data/imu/GP059954.MP4, /home/ros/workspace/data/imu/GP069954.MP4]" doc="path to the video file"/>

    <arg name="record" default="true" />

    <node name="gopro" pkg="gopro" type="play" respawn="false" output="screen">
        <param name="path" value="$(arg path)" />
        <param name="path_list" type="yaml" value="$(arg path_list)" />
        <param name="only_imu" value="true" />
        <param name="loop" value="false" />
    </node>

    <node pkg="rosbag" type="record" name="rosbag_record_cam" args="record -o /home/ros/workspace/data/imu/bag /gopro/imu" if="$(arg record)" />
</launch>
