<?xml version="1.0"?>
<launch>
    <!-- <arg name="video" default="/home/ros/workspace/samples/GP032489.MP4" doc="path to the video file"/> -->
    <!-- <arg name="path" default="/home/ros/workspace/samples/GOPR9948.MP4" doc="path to the video file"/> -->
    <!-- <arg name="path" default="/home/ros/workspace/samples/imu/GP019954.MP4" doc="path to the video file"/> -->
    <!-- <arg name="path" default="" doc="path to the video file"/> -->
    <arg name="path" default="/home/ros/workspace/data/videos/GOPR9972.MP4" doc="path to the video file"/>
    <!-- <arg name="path" default="/home/ros/workspace/data/videos/GOPR9948.MP4" doc="path to the video file"/> -->
    <!-- <arg name="path" default="/home/ros/workspace/data/tests/GOPR9971.MP4" doc="path to the video file"/> -->
    
    <arg name="path_list" default="[]" doc="path to the video file"/>
    <!-- <arg name="path_list" default="[/home/ros/workspace/samples/imu/GP019954.MP4, /home/ros/workspace/samples/imu/GP029954.MP4, /home/ros/workspace/samples/imu/GP039954.MP4, /home/ros/workspace/samples/imu/GP049954.MP4, /home/ros/workspace/samples/imu/GP059954.MP4, /home/ros/workspace/samples/imu/GP069954.MP4]" doc="path to the video file"/> -->
    <!-- <arg name="path_list" default="[/home/ros/workspace/samples/imu/GP019954.MP4, /home/ros/workspace/samples/imu/GP029954.MP4]" doc="path to the video file"/> -->
    <!-- <arg name="path_list" default="[/home/ros/workspace/data/videos/GP032489.MP4]" doc="path to the video file"/> -->
    <!-- <arg name="path_list" default="[/home/ros/workspace/data/videos/GP032489.MP4]" doc="path to the video file"/> -->
    <!-- <arg name="path_list" default="[/home/ros/workspace/data/tests/GOPR9971.MP4]" doc="path to the video file"/> -->
    <!-- <arg name="path_list" default="[/home/ros/workspace/data/calib_camera_imu/calib3/GOPR9964.MP4]" doc="path to the video file"/> -->

    <arg name="record" default="true" />

    <node name="gopro" pkg="gopro" type="play" respawn="false" output="screen">
        <param name="path" value="$(arg path)" />
        <param name="path_list" type="yaml" value="$(arg path_list)" />
        <param name="only_imu" value="false" />
    </node>

    <!-- MASTER NODE! -->
    <node name="run_subscribe_msckf" pkg="ov_msckf" type="run_subscribe_msckf" output="screen" clear_params="true" required="true">

        <!-- bag topics -->
        <param name="topic_imu"      type="string" value="/gopro/imu" />
        <param name="topic_camera0"  type="string" value="/gopro/image" />

        <!-- world/filter parameters -->
        <param name="max_clones"             type="int"    value="11" />
        <param name="max_slam"               type="int"    value="0" />
        <param name="max_cameras"            type="int"    value="1" />
        <param name="init_window_time"       type="double" value="0.5" />
        <param name="init_imu_thresh"        type="double" value="0.3" />
        <rosparam param="gravity">[0.0,0.0,9.81]</rosparam>
        <param name="feat_rep_msckf"         type="string" value="GLOBAL_3D" />
        <param name="feat_rep_slam"          type="string" value="GLOBAL_3D" />


        <!-- tracker/extractor parameters -->
        <param name="use_klt"          type="bool"   value="true" />
        <param name="fast_threshold"   type="int"    value="10" />
        <param name="grid_x"           type="int"    value="5" />
        <param name="grid_y"           type="int"    value="3" />
        <param name="min_px_dist"      type="int"    value="10" />
        <param name="num_pts"          type="int"    value="4000" />

        <!-- sensor noise values / update -->
        <param name="up_msckf_sigma_px"            type="double"   value="1" />
        <param name="up_msckf_chi2_multipler"      type="double"   value="1" />
        <!-- <param name="up_slam_sigma_px"             type="double"   value="1" />
        <param name="up_slam_chi2_multipler"       type="double"   value="1" />
        <param name="up_aruco_sigma_px"            type="double"   value="1" />
        <param name="up_aruco_chi2_multipler"      type="double"   value="1" /> -->
        <param name="gyroscope_noise_density"      type="double"   value="0.058776443427577374" />
        <param name="gyroscope_random_walk"        type="double"   value="0.0007774750269154479" />
        <param name="accelerometer_noise_density"  type="double"   value="0.41375000532270617" />
        <param name="accelerometer_random_walk"    type="double"   value="0.014930566816697289" />


        <!-- camera intrinsics -->
        <rosparam param="cam0_wh">[768, 432]</rosparam>
        <param name="cam0_is_fisheye" type="bool" value="false" />
        <rosparam param="cam0_k">[348.9695929422838, 349.2380906070166, 383.6453227591606, 213.18082338615204]</rosparam>
        <rosparam param="cam0_d">[-0.23561219347338547, 0.05414851043137838, 0.0004013535584602063, 0.000807494092287664]</rosparam>

        <!-- camera extrinsics -->
        <rosparam param="T_C0toI">
            [
            0.2230956121931188, 0.9648434774575004, 0.13894391612408974, -0.00481458710364857,
            0.01988280411467147, 0.13800267639178793, -0.9902322633651379, 0.02126056693010259,
            -0.9745937727693101, 0.2236790676760434, 0.0116039977103089, 0.0021348870220462396,
            0.0, 0.0, 0.0, 1.0
            ]
        </rosparam>

    </node>


    <node type="rviz" name="rviz" pkg="rviz" args="-d $(find ov_msckf)/launch/display.rviz" />

</launch>
